<header>
  <div class="main">
    <div class="logo general">
      <p><img src="{{icon}}" width=80px>EasyEng</p>
    </div>
    <div class="learn general">
      <p class="inp"><a routerLink="/education">Обучение</a></p>
    </div>
    <div class="guideBook general">
      <p class="inp"><a routerLink="/guide">Путеводитель</a></p> 
    </div>
    <div class="dictionary general">
      <p class="inp"><a routerLink="/dictionary">Словарь</a></p>
    </div>
    <div class="materials general">
      <p class="inp"><a routerLink="/materials">Материалы</a></p>
    </div>
    <div class="forum general">
      <p class="inp"><a routerLink="/forum">Форум</a></p>
    </div>
    <div class="home general">
     
      <p class="inp"><a routerLink=""><img src="{{homeTitle}}" alt="Домой" width="60px;"></a></p>
    </div>
  </div>
  
</header>