#movies{
    position: relative;
    width: 100%;
}

#tvs{
    position: relative;
}

#mHead{
    text-align: center;
    background-color: #141852;
    color: rgb(226, 212, 212);
    border: 2px solid #141852;
    border-radius: 15px;
}

#mBody{
    min-height: 300px;
    border: 2px solid #141852;
    border-radius: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}

*{
    font-family: 'Jura';
}

