<div ID="movies" class="mainBlockConfig" style="margin-top:30px; margin-bottom: 150px; width: 90%; min-width: 1200px; padding-bottom: 20px;">
  <div ID="mHead">
    <h1>Movies</h1>
  </div>
  <div ID="mBody">
    <div class="ty">
      <div class="picturePart">
        <video width="100%" height="250px" controls preload="none" poster="../../assets/download.jpg">
          <source src="../../assets/testVideo.mp4" type="video/mp4">
          <source src="movie.ogg" type="video/ogg">
          Your browser does not support the video taGGG
          <!-- poster="../../assets/download.jpg" -->
        </video>
      </div>
      <div class="linkPart">
        <p><a href="../../assets/testVideo.mp4">Frozen</a></p>
      </div>
    </div>


    <div class="ty">
        <div class="picturePart">
          <video width="100%" height="250px" controls preload="none" poster="../../assets/download.jpg">
            <source src="../../assets/testVideo.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video taGGG
            <!-- poster="../../assets/download.jpg" -->
          </video>
        </div>
        <div class="linkPart">
          <p><a href="../../assets/testVideo.mp4">Frozen</a></p>
        </div>
      </div>
    
    <!-- <p>some movies here</p> -->
  </div>
  

  <div ID="mHead">
    <h1>TV Shows</h1>
  </div>
  <div ID="mBody">
      <div class="ty">
        <div class="picturePart">
          <video width="100%" height="250px" controls preload="none" poster="../../assets/download.jpg">
            <source src="../../assets/testVideo.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video taGGG
            <!-- poster="../../assets/download.jpg" -->
          </video>
        </div>
        <div class="linkPart">
          <p><a href="../../assets/testVideo.mp4">Frozen</a></p>
        </div>
      </div>
    <!-- <p>some tvs here</p> -->
  </div>
</div>
