  <div style="position:absolute;left:50%; text-align: center;" id="homeSt">
    <div id="greeting"> Добро пожаловать!<br> Мы рады приветствовать Вас на нашем сайте!</div>
    <div id="motivation"> “Learning is not attained by chance,<br>it must be sought for with ardor and attended to with diligence.”<br><hr>
      "Обучение не достигается случайно,<br> его нужно искать с энтузиазмом и с усердием."</div>
    <a href="/education"><button id="start"> НАЧАТЬ ОБУЧЕНИЕ </button></a>
    <div id="picture"> <img src="/assets/bigben.png"  width="500"> </div>
  </div>
