
  <div style="position: relative;left:7%;padding-bottom:200px;width:1090px;" id="homeSt">
    <div id="wel"><p>WELCOME</p></div>
      <div id="picture"> <img src="/assets/bigben.png"  width="500"> </div>
      <div id="main">
          <div id="greeting"> Добро пожаловать!<br> Мы рады приветствовать Вас на нашем сайте!</div>
          <div id="motivation"> “Learning is not attained by chance,<br>it must be sought for with ardor and attended to with diligence.”<br><hr>
            "Обучение не достигается случайно,<br> его нужно искать с энтузиазмом и с усердием."</div>
          <div id="start"><a  href="/education"><button> НАЧАТЬ ОБУЧЕНИЕ </button></a></div>
      </div>

