/* Ниже конфиг одного блока */
.section{
    position: relative;
    display: block;
    border: 0px solid gray;
    border-radius: 30px;
    margin-top: 20px;
}
.titlePart{
    border: 0px solid yellow;
    height: 30px;
    min-height: 30px;
    background-color: #141414;
    color: lightgray;
    border-radius: 10px;
}
.titlePart p{
    position: relative;
    font-size: 20px;
    padding: 0px;
    left: 10px;
}
.common{
    position: relative;
    border: 0px solid blue;
    min-width: 700px;
    padding-left: 20px;
}
.iconPart{
    position: relative;
    display: inline-block;
    border: 0px solid yellow;
    height: 60px;
}

.iconPart p{
    top: 0px;
}
.textPart{
    position: relative;
    display: inline-block;
    border: 0px solid red;
}
.textPart a{
    position: relative;
    top: 20px;
}
.textPart p{
    position: relative;
    top: 20px;
}

#homeSt1{
    padding-bottom: 150px;
    min-height: 700px;
    border: 0px solid red;
    min-width: 1000px;
}

.wrapper{
    position: relative;
    left: 5%;
}
