<!-- style="position: absolute; top: 60px; left: 5%;border: 1px solid black; width: 90%;" id="homeSt1" -->
<div class="wrapper">
  <div id="homeSt1" >
      <div class="section">
        <div class="titlePart">
          <p>Главный раздел</p>
        </div>
    
        <div class="common">
          <div class="iconPart">
            <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
          </div>
          <div class="textPart">
            <a href="">Важная информация</a><br>
            <p>Информация от администрации, обязательная к прочтению всем посетителям форума.</p>
          </div>
        </div> 
    
        <div class="common">
          <div class="iconPart">


            <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 

          </div>
          <div class="textPart">
            <a href="">Новости</a><br>
            <p>Новости от администрации проекта</p>
          </div>
        </div> 
    
      </div>
    
      <div class="section">
        <div class="titlePart">
          <p>Общий раздел</p>
        </div>
        
        <div class="common">
          <div class="iconPart">

            <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 
          </div>
          <div class="textPart">
            <a href="">Беседка</a><br>
            <p>Общение</p>
          </div>
        </div>  
    
        <div class="common">
          <div class="iconPart">

            <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 

          </div>
          <div class="textPart">
            <a href="">Конкурсы, творчество</a><br>
            <p>Творчество поклонников Англии</p>
          </div>
        </div> 
    
        <div class="common">
          <div class="iconPart">
            <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
          </div>
          <div class="textPart">
            <a href="">Технические вопросы по сайту(к сообществу)</a><br>
            <p>Обсуждение технических вопросов по сайту. Напоминаем, что для решения технических проблем <br> нужно обращаться в Службу поддержки.</p>
          </div>
        </div> 
      </div>
    
      <div class="section">
        <div class="titlePart">
          <p>Вопросы и идеи</p>
        </div>
    
        <div class="common">
          <div class="iconPart">
            <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 
          </div>
          <div class="textPart">
            <a href="">Идеи и предложения</a><br>
            <p>Здесь вы сможете сделать наш сайт еще лучше</p>
          </div>
        </div>
    
        <div class="common">
          <div class="iconPart">
            <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 
          </div>
          <div class="textPart">
            <a href="">Вопросы к команде разработчиков</a><br>
            <p>Общение про настоящее и будущее проекта. Просьба ознакомиться с FAQ <br> перед тем как оставить свое сообщение.</p>
          </div>
        </div>

        <div class="common">
            <div class="iconPart">
              <p><img src="../../assets/msg_icon_blue.png" alt="Msg"></p> 
            </div>
            <div class="textPart">
              <a href="">Проблемы и ошибки</a><br>
              <p>Здесь принимаются отчеты об ошибках.</p>
            </div>
          </div>
    
      </div>
    
    
    </div>
</div>


<!-- <div id="homeSt1" >
  <div class="section">
    <div class="titlePart">
      <p>Главный раздел</p>
    </div>

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Важная информация</a><br>
        <p>Информация от администрации, обязательная к прочтению всем посетителям форума.</p>
      </div>
    </div> 

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Новости</a><br>
        <p>Новости от администрации проекта</p>
      </div>
    </div> 

  </div>

  <div class="section">
    <div class="titlePart">
      <p>Общий раздел</p>
    </div>
    
    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Беседка</a><br>
        <p>Общение</p>
      </div>
    </div>  

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Конкурсы, творчество</a><br>
        <p>Творчество поклонников Англии</p>
      </div>
    </div> 

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Технические вопросы по сайту(к сообществу)</a><br>
        <p>Обсуждение технических вопросов по сайту. Напоминаем, что для решения технических проблем <br> нужно обращаться в Службу поддержки.</p>
      </div>
    </div> 
  </div>

  <div class="section">
    <div class="titlePart">
      <p>Вопросы и идеи</p>
    </div>

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Конкурсы, творчество</a><br>
        <p>Творчество поклонников Англии</p>
      </div>
    </div>

    <div class="common">
      <div class="iconPart">
        <p><img src="../../assets/msg_icon.png" alt="Msg"></p> 
      </div>
      <div class="textPart">
        <a href="">Конкурсы, творчество</a><br>
        <p>Творчество поклонников Англии</p>
      </div>
    </div>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>

    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>

    <p>fdsffdsf</p>
    <p>fdsffdsf</p>

    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>
    <p>fdsffdsf</p>

    <p>fdsffdsf</p>


  </div>


</div> -->