<div style="position: relative;left:7%;padding-bottom:200px;width:1090px;" id="homeSt">
      <div id="picture"> <img src="{{engRus}}"  width="500"> </div>
    <div id="main">
    <div id="greeting">Вы находитесь в разделе словаря
    </div>
    <div id="quote"><hr> Для удобства используйте поиск  <hr> </div>
    <div id="search_input"><input placeholder="Введите слово" size="65px" height="30px" name="user" form="data"></div>
    <div id="search_button"><button>НАЙТИ </button></div>
  </div>

  </div>