<div class="mainBlockConfig" style="margin-top:60px;">
  <h1 style="white-space: nowrap">Грамматика английского языка</h1>


  <ul id="first" >
      <li><button id="articles">АРТИКЛИ</button></li>
      <li><button id="speechParts">ЧАСТИ РЕЧИ</button></li>
      <li><button id="sentenceParts">ЧЛЕНЫ ПРЕДЛОЖЕНИЯ</button></li>
      <li><button id="sentenceTypes">ТИПЫ ПРЕДЛОЖЕНИЙ</button></li>
      <li><button id="punctuation">ПУНКТУАЦИЯ</button></li>
  </ul>
  <ul class= "list" id="articlesL" >
      <li><button id="articlesL0">НЕОПРЕДЕЛЕННЫЙ</button></li>
      <li><button id="articlesL1">ОПРЕДЕЛЕННЫЙ</button></li>
  </ul>
  <ul class= "list" id="speechPartsL" >
      <li><button id = "speechPartsL0">СУЩЕСТВИТЕЛЬНОЕ</button></li>
      <li><button id = "speechPartsL1">ПРИЛАГАТЕЛЬНОЕ</button></li>
      <li><button id = "speechPartsL2">ГЛАГОЛ</button></li>
      <li><button id = "speechPartsL3">МЕСТОИМЕНИЕ</button></li>
      <li><button id = "speechPartsL4">НАРЕЧИЕ</button></li>
  </ul>
  <ul class= "list" id="sentencePartsL" >
      <li><button>ПОДЛЕЖАЩЕЕ</button></li>
      <li><button>СКАЗУЕМОЕ</button></li>
      <li><button>ОПРЕДЕЛЕНИЕ</button></li>
      <li><button>ДОПОЛНЕНИЕ</button></li>
      <li><button>ОБСТОЯТЕЛЬСТВО</button></li>
  </ul>
  <ul class= "list" id="sentenceTypesL" >
      <li><button>ПОВЕСТВОВАТЕЛЬНОЕ</button></li>
      <li><button>ВОПРОСИТЕЛЬНОЕ</button></li>
      <li><button>ВОСКЛИЦАТЕЛЬНОЕ</button></li>
      <li><button>ПОБУДИТЕЛЬНОЕ</button></li>
      <li><button>ПРОСТОЕ</button></li>
      <li><button>СЛОЖНОЕ</button></li>
  </ul>
  <ul class= "list" id="punctuationL" >
      <li><button>ЗАПЯТАЯ</button></li>
      <li><button>ТИРЕ</button></li>
      <li><button>ДВОЕТОЧИЕ</button></li>
      <li><button>ТОЧКА С ЗАПЯТОЙ</button></li>
  </ul>

  <!-- <img class ="content" id="articlesL0C" src="/images/article1.png">
  <img class ="content" id="articlesL1C" src="/images/article2.png" width="780px">

  <img class="content" id="speechPartsL0C" src="images/speechPartsL0C.png">
  <img class="content" id="speechPartsL1C" src="images/obj.png">
  <img class="content" id="speechPartsL2C" src="images/v.png">
  <img class="content" id="speechPartsL3C" src="images/prN.png">
  <img class="content" id="speechPartsL4C" src="images/adV.png"> -->
  
  
</div>
<!-- <script>
  var mainList=document.getElementById("first");
var buttons=mainList.getElementsByTagName("button");
for(var i=0;i<buttons.length;i++){
    buttons[i].onclick=function(){
        var other=document.getElementsByClassName("list");
        for(var i=0;i<other.length;i++){
            other[i].style.setProperty("visibility","hidden");
        }
        other=document.getElementsByClassName("content");
        for(var i=0;i<other.length;i++){
            other[i].style.setProperty("visibility","hidden");
        }
        var l=this.getAttribute("id")+"L";
        var elem=document.getElementById(l);
        console.log(elem);
        elem.style.setProperty("visibility","visible");
    };
   
}

var lists=document.getElementsByClassName("list");
for(var i=0;i<lists.length;i++){
    var contents=lists[i].getElementsByTagName("button");
    for(var j=0;j<contents.length;j++){
        contents[j].onclick=function(){
            var other=document.getElementsByClassName("content");
        for(var i=0;i<other.length;i++){
            other[i].style.setProperty("visibility","hidden");
        }
        console.log(this.getAttribute("id")+"C");
            var cont=document.getElementById(this.getAttribute("id")+"C");
            console.log(cont);
            cont.style.visibility="visible";
        };  
        
}
}
</script> -->


