<div style="width: 90%; min-width: 1200px; padding-bottom: 150px; border: 1px solid red;position: relative; left: 5%;">
  <div class="maint">
    <div class="container">
      <div class="flipper" id="target">
        <div class="front" style="border: 2px solid blue;">
          <a href="/about#target" class="home button">О нас</a>
          <div class="share-block" style="border: 2px solid green;">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <!-- <a href=""><i class="far fa-smile"></i></a> -->
          </div>
          <div class="description" style="border:5px solid yellow; ">
            <h1>&Описание&</h1>
            <ul class="aboutBorder" style="padding: 7px 20px;">
              <!-- <li> </li> <a routerLink="/materials"> <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении! </a> </li>  </a> -->
              <!-- <li><a routerLink="/materials"> <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении! </a> </li>  </a></li> -->
              <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении!<i class="far fa-grin-stars" style="font-size:24px;"></i></a>  </li>
              <li> <a routerLink="/dictionary">Словарь - нужен перевод?<i class="fas fa-meh-rolling-eyes" style="font-size: 24px;"></i> </a> </li>
              <li> <a routerLink="/education">Обучение - не понял смысла фраз? Вперед к саморазвитию!<i class="far fa-meh" style="font-size: 24px;"></i> </a> </li>
              <li> <a routerLink="/forum">Форум - надоело саморазвитие? Вперед к деградации!<i class="fas fa-smile-wink" style="font-size: 24px;"></i> </a>  </li>
              <li> <a routerLink="/contact">Написать - хочешь поделиться вкусняшками или взять номерок?</a> </li>
              <li> <a routerLink="/about">О нас - легкая навигация, ничего лишнего!</a> </li>
            </ul>
            
          </div>
          
        </div>
        <div style="border: 1px solid red;" class="back">
          <a style="border: 0px solid yellow;" href="/about#close" class="home button"><i class="fa fa-home"></i></a>
          <div style="border: 2px solid blue;" class="inner">
            <h2>&О нас&</h2>
            <ul class="aboutBorder">
                <li> <a href=""> <i class="fa fa-heart" aria-hidden="true"></i>Heart<i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
                <li> <a href=""> <i class="fa fa-heart" aria-hidden="true"></i>Heart<i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
                <li> <a href=""> <i class="fa fa-heart" aria-hidden="true"></i>Heart<i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
                <li> <a href=""> <i class="fa fa-heart" aria-hidden="true"></i>Heart<i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
                <li> <a href=""> <i class="fa fa-heart" aria-hidden="true"></i>Heart<i class="fa fa-heart" aria-hidden="true"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>