<div style="width: 90%; min-width: 1200px; padding-bottom: 150px; position: relative; left: 5%;">
  <div class="maint">
    <div class="container">
      <div class="flipper" id="target">
        <div class="front">
          <a href="/about#target" class="home button">О нас</a>
          <div class="share-block">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <!-- <a href=""><i class="far fa-smile"></i></a> -->
          </div>
          <div class="description">
            <h1> Описание </h1>
            <ul class="aboutBorder" style="padding: 7px 20px;">
              <!-- <li> </li> <a routerLink="/materials"> <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении! </a> </li>  </a> -->
              <!-- <li><a routerLink="/materials"> <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении! </a> </li>  </a></li> -->
              <li> <a routerLink="/materials">Материалы - Фильмы и Сериалы в Высоком разрешении!<i class="far fa-grin-stars" style="font-size:24px;"></i></a>  </li>
              <li> <a routerLink="/dictionary">Словарь - нужен перевод?<i class="fas fa-meh-rolling-eyes" style="font-size: 24px;"></i> </a> </li>
              <li> <a routerLink="/education">Обучение - не понял смысла фраз? Вперед к саморазвитию!<i class="far fa-meh" style="font-size: 24px;"></i> </a> </li>
              <li> <a routerLink="/forum">Форум - надоело саморазвитие? Вперед к общению!<i class="fas fa-smile-wink" style="font-size: 24px;"></i> </a>  </li>
              <li> <a routerLink="/contact">Написать - хочешь поделиться вкусняшками?</a> </li>
              <li> <a routerLink="/about">О нас - легкая навигация, ничего лишнего!</a> </li>
            </ul>
            
          </div>
          
        </div>
        <div  class="back">
          <a href="/about#close" class="home button"><i class="fa fa-home"></i></a>
          <div  class="inner">
            <h2>Cоздатели</h2>
            <ul class="aboutBorder">
              <li>Савоськин Роман ◎◎◎ Savoskin Roman</li>
              <li>Бирюкова Александра ◎◎◎ Biryukova Alexandra </li>
              <li>Амамбаева Меруерт ◎◎◎ Amambayeva Meruert</li>
              <li>Луценко Александр ◎◎◎ Lutsenko Alexandr</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>