<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="main">
    <div class="logo general">
      <p><img src="{{icon}}" width=80px>EasyEng</p>
    </div>
    <div class="learn general">
      <p class="inp"><a routerLink="/education">Обучение</a></p>
    </div>
    <div class="guideBook general">
      <p class="inp"><a routerLink="/guide">Путеводитель</a></p> 
    </div>
    <div class="dictionary general">
      <p class="inp"><a routerLink="/dictionary">Словарь</a></p>
    </div>
    <div class="materials general">
      <p class="inp"><a routerLink="/materials">Материалы</a></p>
    </div>
    <div class="forum general">
      <p class="inp"><a routerLink="/forum">Форум</a></p>
    </div>
    <div class="home general">
     <!-- <p><img src="{{homeTitle}}" alt="Домой"></p> -->
      <p class="inp"><a routerLink=""><img src="{{homeTitle}}" alt="Домой" width="60px;"></a></p>
    </div>
  </div>
  
</header>

<div class="t">

</div>
<footer>
  <div class="main additional">
    <div class="logo general">
      <img src="{{icon}}" width=80px; alt="Logotip">
      <p>© 2019 EasyEng</p>
    </div>
    <div class="report general">
     <p><a routerLink="/contacts">Написать</a></p>
    </div>
    <div class="about general">
      <p><a routerLink="#">О нас</a></p>
      <p id="info">EasyEng - это сайт, который поможет Вам познакомиться с английским языком.<br> На нашем сайте Вы можете изучать язык, его историю, используя разного рода медиа, начиная с грамматических таблиц, и заканчивая фильмами на иностраннном языке</p>
    </div>
    <div class="config general">
      <p><a routerLink="#">Настройки</a></p>
    </div>
    <div class="settings general">
        <select>
          <option disabled value="">Выберите цвет:</option>
          <option value="1">BLUE</option>
          <option value="2"> RED</option>
          <option value="3"> GREEN</option>
          <option value="4"> PURPLE</option>
        </select>
      </div>

  </div>
</footer>
<router-outlet></router-outlet>
