/* header and footer config general config */
header,footer{
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    min-width: 1050px;
    height: auto;
    display: block;
    /* border: 1px solid blue; */
    background: rgb(22, 22, 22);
    /* background: black; */
    background-color: #141852;
}
a{
    color: rgb(226, 212, 212);
}
header{
    position: fixed;
    top: 0%;
    z-index: 5;
}
footer{
    position: relative;
    bottom: 0%;
    height: 150px;
    text-align: center;
    z-index: 4;
}
/* верх не трогать */

.main{
    width: 100%;
    position: relative;
    /* display: block; */
    max-height: 100px;
}

.additional{
    /* position: relative; */
}
div {
    position: relative;   
    border-right: 1px solid rgba(245, 245, 245, 0.719);
    min-width: 100px;
    display: inline-block;
    /* height: 100%; */
}
.general {
    height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 15%;
}
.forum{
    width: 10%;
}
.guideBook{
    width: 18%;
}
.dictionary{
    width: 12%;
}
.logo{
    width: 19%;
}
.home{
    float: right;
    width: 10%;
}
.inp{
    /* position: relative; */
    padding: 10px;
}

*{
    font-size: 25px;
    font-weight: 100;
    color:lightgray;
    font-family: 'Jura';
    /* color: white; */
}
p img{
   padding-right:20px; 
}
.t{
    border: 1px solid yellow;
    position: relative;
    min-height: 700px;
    width: 100%;
}