<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="main">
    <div class="logo general">
      <p><img src="/assets/icon.png" width=80px>EasyEng</p>
    </div>
    <div class="learn general">
      <p class="inp"><a href="/education">Обучение</a></p>
    </div>
    <div class="guideBook general">
      <p class="inp"><a href="/guide">Путеводитель</a></p> 
    </div>
    <div class="dictionary general">
      <p class="inp"><a href="">Словарь</a></p>
    </div>
    <div class="materials general">
      <p class="inp"><a href="">Материалы</a></p>
    </div>
    <div class="forum general">
      <p class="inp"><a href="">Форум</a></p>

    </div>
    <div class="home general">
     <!-- <p><img src="{{homeTitle}}" alt="Домой"></p> -->
      <p><a href=""><img src="{{homeTitle}}" alt="Домой"></a></p>
    </div>
  </div>
  
</header>
<div class="t">
  
</div>
<footer>
  <div class="main additional">
    <div class="logo general">
      <img src="assets/icon.png" width=80px; alt="Logotip">
    </div>
    <div class="report general">
     <p><a href="#">Написать</a></p>
    </div>
    <div class="about general">
      <p><a href="#">О нас</a></p>
    </div>
    <div class="config general">
      <p><a href="#">Настройки</a></p>
    </div>
    <div class="inf general">
      <p><a href="./faq">F.A.Q</a></p>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
