<footer>
  <div class="main additional">
    <div class="logo general">
      <img src="{{icon}}" width=80px; alt="Logotip">
      <p>© 2019 EasyEng</p>
    </div>
    <div class="report general">
     <p><a routerLink="/contacts">Написать</a></p>
    </div>
    <div class="about general">
      <p><a routerLink="/about">О нас</a></p>
      <p id="info">EasyEng - это сайт, который поможет Вам познакомиться с английским языком.<br> На нашем сайте Вы можете изучать язык, его историю, используя разного рода медиа, начиная с грамматических таблиц, и заканчивая фильмами на иностраннном языке</p>
    </div>
    <div class="config general">
      <p><a routerLink="" (click)="pref()">Настройки</a></p>
    </div>
    <div id="preference" class="settings general" >
        <select (change)="colorChange($event)">
          <option disabled value="">Выберите цвет:</option>
          <option value="1">BLUE</option>
          <option value="2"> RED</option>
          <option value="3"> GREEN</option>
          <option value="4"> PURPLE</option>
        </select>
      </div>

  </div>
</footer>