<div class="mainBlockConfig" style="margin-top:60px;">
  <h1 style="white-space: nowrap">Грамматика английского языка</h1>
  
  <ul id="first" >
      <li><button id="articles" (click)="show('articles')">АРТИКЛИ</button></li>
      <li><button id="speechParts" (click)="show('speechParts')">ЧАСТИ РЕЧИ</button></li>
      <li><button id="sentenceParts"  (click)="show('sentenceParts')">ЧЛЕНЫ ПРЕДЛОЖЕНИЯ</button></li>
      <li><button id="sentenceTypes"  (click)="show('sentenceTypes')">ТИПЫ ПРЕДЛОЖЕНИЙ</button></li>
      <li><button id="punctuation"  (click)="show('punctuation')">ПУНКТУАЦИЯ</button></li>
  </ul>
  <ul class= "list" id="articlesL" >
      <li><button id="articlesL0" (click)="showContent('articlesL0')">НЕОПРЕДЕЛЕННЫЙ</button></li>
      <li><button id="articlesL1" (click)="showContent('articlesL1')">ОПРЕДЕЛЕННЫЙ</button></li>
  </ul>
  <ul class= "list" id="speechPartsL" >
      <li><button id = "speechPartsL0" (click)="showContent('speechPartsL0')">СУЩЕСТВИТЕЛЬНОЕ</button></li>
      <li><button id = "speechPartsL1" (click)="showContent('speechPartsL1')">ПРИЛАГАТЕЛЬНОЕ</button></li>
      <li><button id = "speechPartsL2" (click)="showContent('speechPartsL2')">ГЛАГОЛ</button></li>
      <li><button id = "speechPartsL3" (click)="showContent('speechPartsL3')">МЕСТОИМЕНИЕ</button></li>
      <li><button id = "speechPartsL4"  (click)="showContent('speechPartsL4')">НАРЕЧИЕ</button></li>
  </ul>
  <ul class= "list" id="sentencePartsL" >
      <li><button>ПОДЛЕЖАЩЕЕ</button></li>
      <li><button>СКАЗУЕМОЕ</button></li>
      <li><button>ОПРЕДЕЛЕНИЕ</button></li>
      <li><button>ДОПОЛНЕНИЕ</button></li>
      <li><button>ОБСТОЯТЕЛЬСТВО</button></li>
  </ul>
  <ul class= "list" id="sentenceTypesL" >
      <li><button>ПОВЕСТВОВАТЕЛЬНОЕ</button></li>
      <li><button>ВОПРОСИТЕЛЬНОЕ</button></li>
      <li><button>ВОСКЛИЦАТЕЛЬНОЕ</button></li>
      <li><button>ПОБУДИТЕЛЬНОЕ</button></li>
  </ul>
  <ul class= "list" id="punctuationL" >
      <li><button>ЗАПЯТАЯ</button></li>
      <li><button>ТИРЕ</button></li>
      <li><button>ДВОЕТОЧИЕ</button></li>
      <li><button>ТОЧКА С ЗАПЯТОЙ</button></li>
  </ul>
  <div id="im">
      <img class ="content" id="articlesL0C" src="../../../assets/article1.png">
      <img class ="content" id="articlesL1C" src="../../../assets/article2.png" width="780px">
      <img class="content" id="speechPartsL0C" src="../../../assets/speechPartsL0C.png">
      <img class="content" id="speechPartsL1C" src="../../../assets/obj.png">
      <img class="content" id="speechPartsL2C" src="../../../assets/v.png">
      <img class="content" id="speechPartsL3C" src="../../../assets/prN.png">
      <img class="content" id="speechPartsL4C" src="../../../assets/adV.png">
</div>
  
  
</div>


