/* ul{
    width:100%;
    min-width:1240px ;
} */
/* ul li{
    list-style: none;
    display: inline;
    padding: 3px;
} */
ul li{
    list-style: none;
    display: inline;
    padding: 3px;
}
li button{
    width:230px;
}
#articlesL, #speechPartsL,#sentencePartsL,#sentenceTypesL,#punctuationL{
    visibility: hidden;
    text-align: center;
}

.content{
    white-space: nowrap;
    visibility: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px rgb(14, 13, 85);
    border-radius: 5px;

}
.list{
    position: absolute;
}

div{
    min-height: 700px;
}
#im{
    position: relative;
    margin-top:80px;
    margin-left: 100px;
}

