<div style="position:relative; padding-bottom: 200px; width:400px;min-width: 800px; left: 20%;">
    <p>Если Вы хотите связаться с нами, Вы можете позвонить на следующие номера:<br><ul><li>8 (701) 737 55 98</li><li>8 (705) 164 17 75</li><li>8 (777) 319 08 00</li></ul></p>
    <p>Либо Вы можете отправить нам e-mail, мы постараемся ответить в кратчайшие сроки: </p>
    <form>
      <img src="assets/contacts.png" width="350px">
      <label >Ваш E-mail:</label><br><input id="email" type="email" placeholder="example@gmail.com"><br>
      <label >Текст сообщения:</label><br><textarea id="text" type="text" placeholder=" Текст (не более 300 символов)" maxlength="300"></textarea><br>
      <input id="submit" type="submit" value="Отправить e-mail"> 
    </form>
  </div>